<ul class="nav nav-pills">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Grant Bed</a></li>
  <li><a href="#">Referral</a></li>
</ul>

<br>

<div class="text-center">
  <div style="font-family:Verdana" class="well"><b>CLIENT PROFILE</b></div>
</div>

<br>
    
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Name</span>
  <input type="text" class="form-control" placeholder="First Name and Last Name" aria-describedby="basic-addon1">
</div>

<div class="input-group"> 
  <span class="input-group-addon" id="basic-addon1">Phone Number</span>
  <input type="text" class="form-control" placeholder="(xxx)xxx-xxxx" aria-describedby="basic-addon1">
</div>

<br><br>


<Ul>  
  <label class="checkbox-inline"><input type="checkbox" value="">Male</label> 
  <label class="checkbox-inline"><input type="checkbox" value="">Female</label>
  <label class="checkbox-inline"><input type="checkbox" value="">Youth</label>  
  <label class="checkbox-inline"><input type="checkbox" value="">Single</label> 
  <label class="checkbox-inline"><input type="checkbox" value="">Married</label>
  <label class="checkbox-inline"><input type="checkbox" value="">Veteran</label>  
</ul> 
<br>

<h4 id= "history"><b>CLIENT HISTORY</b></h4>


<div class="container">
	<div class="row">
    
    <div class="timeline-centered">

      <article class="timeline-entry">

        <div class="timeline-entry-inner">

          <div class="timeline-icon bg-primary">
            <i class="entypo-feather"></i>
          </div>

          <div class="timeline-label">
            <h2>Name of COC location</h2>
            <p>date and time</p>
            <p>comments/behavior</p>
          </div>

        </div>

      </article>


      <article class="timeline-entry">

        <div class="timeline-entry-inner">

          <div class="timeline-icon bg-primary">
            <i class="entypo-suitcase"></i>
          </div>

          <div class="timeline-label">
            <h2>Name of COC location</h2>
            <p>date and time</p>
            <p>comments/behavior</p>
          </div>
        </div>

      </article>


      <article class="timeline-entry">

        <div class="timeline-entry-inner">

          <div class="timeline-icon bg-primary">
            <i class="entypo-location"></i>
          </div>

          <div class="timeline-label">
            <h2>Name of COC location</h2>
            <p>date and time</p>
            <p>comments/behavior</p>
          </div>

        </div>

      </article>


      <article class="timeline-entry">

        <div class="timeline-entry-inner">

          <div class="timeline-icon bg-primary">
            <i class="entypo-camera"></i>
          </div>

          <div class="timeline-label">
            <h2>Name of COC location</h2>
            <p>date and time</p>
            <p>comments/behavior</p>
          </div>
        </div>

      </article>


      <article class="timeline-entry begin">

        <div class="timeline-entry-inner">

          <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
            <i class="entypo-flight"></i> <a href="#">+</a>
          </div>
          

        </div>

      </article>

    </div>
    
	</div>
</div>