<div class="text-center">
    <div style="font-family:Verdana" class="well">
      <b>{{ name }}</b>
    </div>
</div>

 <br> <br> <br>

<div class="container">

  <form ng-submit="search()">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1" >Name</span>
      <input type="text" class="form-control" placeholder="First Name and Last Name" aria-describedby="basic-addon1" ng-model="client.name">
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Phone Number</span>
      <input type="text" class="form-control" placeholder="(xxx)xxx-xxxx" aria-describedby="basic-addon1" ng-model="client.phoneNumber">
    </div>

    <br>

    <div class="btn-group" role="group" aria-label="...">
      <button type="submit" class="btn btn-default">Search</button>
    </div>

  </form>

  <br>
  <br>


  <div>
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation">Total Number of Beds in Shelter <span class="badge">{{ total_beds }}</span></li>
      <li role="presentation">&nbsp Number of Beds Available Now <span class="badge">{{ available_beds }}</span></li>
    </ul>
  </div>

  <br>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Requests and Referrals</div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Client Name</th>
          <th>Referral/Requests Origin</th>
          <th>Date & Time</th>
          <th>Client Phone Number</th>
          </thead>
      <tbody>
        <tr ng-repeat="referral in referrals_list">
          <td>{{ referral.client_name }}</td>
          <td>{{ referral.coc_name }}</td>
          <td>{{ referral.created }}</td>
          <td>{{ referral.client_phone_number }}</td>
        </tr>
        <tr>
          <td>Jill Kooyman</td>
          <td>Veteran Services</td>
          <td>October 22, 2016 11:46am</td>
          <td>(999)999-9999</td>
          
        </tr>
      </tbody>
    </table>
  </div>

</div><!-- /.container -->